
<%= form_with(model: schnipsel, local: true, html: {style: 'margin: 15px'}) do |form| %>
    <% if schnipsel.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(schnipsel.errors.count, "error") %> prohibited this schnipsel from being saved:</h2>

          <ul>
            <% schnipsel.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= form.label :titel %>
      <%= form.text_field :titel, id: :schnipsel_titel, class: 'form-control' %>
      <small class="form-text text-muted">Bitte geben Sie hier den Titel des Codeschnipsels ein!</small>
    </div>

    <div class="form-group">
      <%= form.label :code%>

      <%= form.text_area :code, id: :schnipsel_code, class: 'editor form-control codeSchnipsel' %>
      <script>
        var editor = CodeMirror.fromTextArea(document.getElementById('schnipsel_code'), {
          lineNumbers: true,
          mode: "text/x-ruby",
          matchBrackets: true,
          theme: 'dracula',
          autoCloseTags: true,
          scanUp: true,
          indentUnit: 2
        });
      </script>
      <small class="form-text text-muted">Bitte geben Sie hier den Codeschnipsel ein!</small>
    </div>

    <div class="form-group">
      <%= form.label :tag_list %>
      <%= form.text_field :tag_list, value: form.object.tag_list.to_s, class: 'form-control'%>
      <small class="form-text text-muted">Bitte geben Sie hier Ihre Tags ein. Sehr wichtig: Die Tags müssen durch ein Komma "," getrennt werden!</small>
    </div>

      <%= form.submit 'Schnipsel dir einen!',class: 'btn btn-default', role: 'button'%>
<% end %>
