<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 col-xs-12">
      <strong>Titel:</strong>
    </div>
    <div class="col-md-9 col-xs-12">
      <%= @schnipsel.titel %>
    </div>
    <div class="col-md-1 col-xs-12" style="text-align: right">
      <strong>MIME-Type:</strong>
    </div>
    <div class="col-md-1 col-xs-12" style="text-align: right">
      <%= @schnipsel.syntax %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <strong>Code:</strong>
    </div>
    <div class="col-md-12 col-xs-12">
      <textarea id="schnipsel_code" readonly><%= @schnipsel.code %></textarea>
      <script>
        var editor = configure_editor("schnipsel_code", true, '<%=@schnipsel.syntax%>');
      </script>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <strong>Tags</strong>
    </div>
    <div class="col-md-12 col-xs-12">
      <% for tag in @schnipsel.tag_list %>
          <%= link_to tag, {:controller => "home" ,:action => :search, :tag_list => tag}, :class => 'tag2' %>
      <% end %>
    </div>
  </div>
</div>

<% if not current_user.nil? and current_user.schnipsels.include? @schnipsel %>
    <%= link_to 'Edit', edit_schnipsel_path(@schnipsel), {class: 'btn btn-default', role: 'button'} %> |
<% end %>
<%= link_to 'Back', schnipsels_path, {class: 'btn btn-default', role: 'button'} %>
